th{
    color: white;
    text-align: center;
}

tr{
    color: white;
    text-align: center;
}

td{
    padding-left: 2vw;
    padding-right: 2vw;
}

td button{
    /* background-color: black; */
}

.switchable{
    margin: 4vw;
}

.weaponImage{
    width: 10vw;
}