body{
    background-image: url("../resources/backgrounds/background.jpg");
}


/* HORIZONTAL NAVIGATION BAR */

#navbarHor{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    /* position: sticky; */
    text-align: center;
    top: 0;
    z-index: 1;
    background-color: yellow;
}

.stickyHor {
    position: fixed;
    top: 0;
    width: 100%;
}


.navbarRow{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 1px;
    height: 100%;
    
}

.navbarBox{
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}

.navbarBox p{
    margin-top: 0.7vw;
    vertical-align: middle;
}


/* VERTICAL NAVBAR */

#navbarVer{
    position: fixed;
    min-height: 120%;
    /* z-index: 2; */
    width: 12%;
    /* padding-top: 40px; */
    background-color: rgb(73, 73, 73);
}

.stickyVer {
    position: fixed;
    top: 32px;
    width: 15%;
    
}